<div class="b2b-new">
  <h2>新增申請</h2>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <label>公司名稱（自動帶入）
      <input [value]="sessionStorage.getItem('b2b_company')" disabled />
    </label>
    <label>辦理類別
      <select formControlName="type">
        <option>首來族</option>
        <option>換證</option>
        <option>遺失件</option>
      </select>
    </label>
    <label>辦理速度
      <select formControlName="speed">
        <option>普通件</option>
        <option>急件</option>
      </select>
    </label>
    <label>辦理日期
      <input type="date" formControlName="date" />
    </label>
    <label>顧客姓名
      <input formControlName="name" />
    </label>

    <label>上傳檔案（可多檔）
      <input type="file" (change)="onFiles($event)" multiple />
    </label>

    <button type="submit">送出申請</button>
  </form>
</div>
